.App {
  text-align: center;
  justify-content: center;
  max-width: 100%;
}

.App-logo {
  height: 2.2vmin;
  pointer-events: none;
  margin-right: 5px;
}

.App-header {
  background-color: #5D97F6;
  padding: 6px;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  justify-content: left;
  font-size: 18px;
  color: black;
}

.App-link {
  color: #61dafb;
}
